[submodule "src/eigen"]
	path = src/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/orocos_kinematics_dynamics"]
	path = src/orocos_kinematics_dynamics
	url = git@github.com:orocos/orocos_kinematics_dynamics.git
